@media all and (max-width: 650px) {
  .top-header .nav,
  .top-header .nav ul,
  form {
    width: 100%;
  }

  .top-header,
  .footer-nav-list {
    flex-direction: column;
  }

  .top-header {
    padding-inline: 0;
  }

  .top-header .nav,
  .top-header .nav ul {
    padding: 0;
  }

  .top-header .nav li {
    flex: 1;
    padding-block: 1em;
    text-align: center;
  }

  .picture.left::before,
  .picture.right::before {
    height: 150px;
  }

  #services .container {
    align-items: center;
  }

  .service {
    max-width: 90%;
  }

  #about,
  #contact {
    padding-inline: 2em;
    padding-block: 2em;
  }

  .picture {
    width: 80%;
  }

  .footer-nav {
    display: flex;
    justify-content: center;
  }

  .footer-nav-list {
    gap: 30px;
    margin-bottom: 0;
  }
}
